.container_n1{
    margin-top: 6rem !important;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 48.5rem;
    height: 19.75rem;
}
.doubletap{
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 29rem;

}


.images_n1{
    margin-top: 2.75rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.images_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 9.375rem;
    height: 10.625rem;
    border-radius: 0.5rem;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}

.container_n2{
    display: flex;
    margin-top: 5.13rem;
    max-width: 50rem;
    height: 26.25rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    background: var(--blue, #0D6EFD);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}

.card_n{
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card_n2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 25rem;
    margin-left: 2rem;
    /* white-space: nowrap; */
    /* text-align: center; */
}


.list_n{
    display: flex;
    flex-direction: column;
    max-width: 19.3125rem;
    font-size: .9rem;
}

.button{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    justify-content: center;
    display: inline-flex;
    border-radius: 0.5rem;
    border: 2px solid var(--blue, #0D6EFD);
    background: var(--white, #FFF);
    max-width: 13.625rem;
    height: 3.3125rem;

}

.button > p{
    color: var(--blue, #0D6EFD);
    font-family: Roboto;
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: .6rem;
    white-space: nowrap;
    margin-left: 2rem;
}

.button > img {
    padding: 1rem;
    margin-left: .25rem;
}